<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node js Express Tutorial</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <td><b>Coin Name</b></td>
            <td><b>Coin Price</b></td>
            <td colspan="4"><b>Action</b></td>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < coinsTable.length; i++) { %>
          <tr>
            <td><%= coinsTable[i].name %></td>
            <td><%= coinsTable[i].price %></td>
            <td><%= coinsTable[i].id %></td>
            <td><a href='/coins/edit/<%= coinsTable[i].id %>' class="btn btn-primary">Edit</a></td>
            <td><a href='/coins/delete/<%= coinsTable[i].id %>' class="btn btn-danger">Delete</a></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>